@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&family=Volkhov:wght@700&display=swap");
.test {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Volkhov", serif; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 108px; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 50px; } }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.hugeTitle {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #253776; }

.largeTitle {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #14183e; }

.sectionTitle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5e6282; }

img {
  max-width: 100%; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotate {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  background: #fff; }
  nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    min-height: 88px; }
    nav .nav-container .logo {
      width: 40%;
      position: relative;
      z-index: 4; }
    nav .nav-container .right-side {
      display: flex;
      align-items: center;
      transition: all 0.4s ease-in-out;
      position: fixed;
      top: -250px;
      left: 0;
      width: 100%;
      height: 0;
      background: #f8f9fa;
      flex-direction: column;
      justify-content: center; }
      nav .nav-container .right-side.in {
        top: 0;
        height: 100vh; }
      @media (min-width: 991px) {
        nav .nav-container .right-side {
          width: 60%;
          position: static;
          flex-direction: row;
          background-color: transparent; }
          nav .nav-container .right-side.in {
            height: auto; } }
      nav .nav-container .right-side .links {
        width: 100%; }
        nav .nav-container .right-side .links ul {
          display: block;
          width: 100%;
          padding: 0;
          margin: 0;
          list-style: none; }
          @media (min-width: 991px) {
            nav .nav-container .right-side .links ul {
              display: flex;
              justify-content: space-between; } }
          nav .nav-container .right-side .links ul li {
            width: 100%;
            margin: 35px 0;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #212832; }
            @media (min-width: 991px) {
              nav .nav-container .right-side .links ul li {
                flex: 1; } }
            nav .nav-container .right-side .links ul li a {
              color: inherit; }
            nav .nav-container .right-side .links ul li.lang {
              overflow: hidden;
              position: relative; }
              nav .nav-container .right-side .links ul li.lang span {
                height: 0;
                width: 100%;
                display: block;
                transition: all 0.4s ease-in-out;
                position: absolute;
                top: -50px; }
                nav .nav-container .right-side .links ul li.lang span.active {
                  top: 0;
                  left: 50%;
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                  transform: translateX(-50%);
                  width: auto;
                  height: auto; }
    nav .nav-container .toggle {
      width: 10%;
      cursor: pointer;
      position: relative;
      z-index: 4;
      display: block;
      text-align: center; }
      @media (min-width: 991px) {
        nav .nav-container .toggle {
          display: none; } }
      nav .nav-container .toggle img {
        width: 35px; }

.top-news {
  margin-bottom: 80px; }
  .top-news .container {
    position: relative;
    overflow-x: hidden; }
  .top-news .circle {
    opacity: 0;
    position: absolute;
    top: 40px;
    right: -138px;
    z-index: 1; }
    @media (min-width: 880px) {
      .top-news .circle {
        opacity: 1; } }
  .top-news .largeTitle {
    margin-top: 0; }
  .top-news .category-wrapper {
    position: relative;
    z-index: 2;
    text-align: center; }
    .top-news .category-wrapper [type="radio"] {
      display: none; }
    .top-news .category-wrapper label {
      padding: 10px 20px;
      border-radius: 10px;
      background: #e3e3e3;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      color: #0f526e;
      min-width: 90px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif; }
      .top-news .category-wrapper label:last-of-type {
        margin-right: 0; }
    .top-news .category-wrapper [type="radio"]:checked + label {
      background: #13beff;
      color: #fff; }
    .top-news .category-wrapper [type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.technology),
    .top-news .category-wrapper [type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.sport),
    .top-news .category-wrapper [type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.health),
    .top-news .category-wrapper [type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.economics) {
      display: none; }
    .top-news .category-wrapper .gallery {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 100%);
      grid-auto-rows: 1fr;
      grid-gap: 3rem;
      margin-top: 40px; }
      @media (min-width: 400px) {
        .top-news .category-wrapper .gallery {
          grid-template-columns: repeat(auto-fit, 365px); } }
      .top-news .category-wrapper .gallery .card {
        margin: 0;
        border-radius: 30px;
        -webkit-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -moz-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -o-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc; }
        .top-news .category-wrapper .gallery .card .card-image {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px; }
        .top-news .category-wrapper .gallery .card .card-desc {
          padding: 20px;
          text-align: initial; }
          .top-news .category-wrapper .gallery .card .card-desc .sectionTitle {
            margin-top: 0;
            height: 80px; }
          .top-news .category-wrapper .gallery .card .card-desc .date-wrapper img {
            float: left;
            margin-right: 10px; }
          .top-news .category-wrapper .gallery .card .card-desc .date-wrapper .date {
            color: #707070;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 400; }
          .top-news .category-wrapper .gallery .card .card-desc .card-footer {
            display: flex;
            justify-content: space-between; }
            .top-news .category-wrapper .gallery .card .card-desc .card-footer .card-type {
              color: #5e6282;
              font-size: 16px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              background: #e3e3e3;
              padding: 1px 2px;
              border-radius: 100px;
              width: 117px;
              text-align: center; }
            .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs {
              position: relative; }
              .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs img {
                width: 17px;
                height: 19px;
                cursor: pointer;
                margin: 0 5px; }
              .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup {
                position: absolute;
                top: 10px;
                right: 0px;
                border-radius: 5px;
                opacity: 0;
                z-index: -1;
                width: 185px;
                height: 45px;
                transition: all 0.4s ease-in-out;
                display: flex;
                border-radius: 5px;
                overflow: hidden; }
                .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup.show {
                  opacity: 1;
                  z-index: 2;
                  top: 25px; }
                .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a {
                  width: calc(100% / 3);
                  height: 100%;
                  line-height: 62px;
                  display: inline-block;
                  text-align: center;
                  transition: all 0.4s ease-in-out; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a:hover {
                    opacity: 0.8; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.fb-link {
                    background-color: #3b5998; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.fb-link img {
                      width: 15pxs; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.tw-link {
                    background-color: #00b9ff; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.tw-link img {
                      width: 25px; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.gm-link {
                    line-height: 55px;
                    background-color: #ff6666; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.gm-link img {
                      width: 26px; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a img {
                    height: auto;
                    margin: 0; }
    .top-news .category-wrapper .view-more {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      background-color: #ff7c16;
      margin-top: 40px;
      border: none;
      padding: 18px;
      width: 260px;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.4s ease-in-out; }
      .top-news .category-wrapper .view-more:hover {
        background-color: #ff7c16a8; }

footer .grid {
  overflow: hidden; }
  @media (min-width: 991px) {
    footer .grid {
      display: flex; } }
  footer .grid .col {
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
    @media (min-width: 600px) {
      footer .grid .col {
        float: left; }
        footer .grid .col.sm-col {
          width: 33.33%; } }
    @media (min-width: 991px) {
      footer .grid .col {
        text-align: inherit;
        margin-right: 50px; }
        footer .grid .col.sm-col {
          width: auto; } }
    @media (min-width: 1100px) {
      footer .grid .col {
        margin-right: 80px; } }
    footer .grid .col:last-of-type {
      margin-bottom: 0; }
      @media (min-width: 991px) {
        footer .grid .col:last-of-type {
          margin-right: 0; } }
      footer .grid .col:last-of-type .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px; }
        @media (min-width: 991px) {
          footer .grid .col:last-of-type .socials {
            justify-content: initial; } }
        footer .grid .col:last-of-type .socials > div {
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 60px;
          margin: 0 15px;
          border-radius: 100px;
          -webkit-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          -moz-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          -o-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc; }
          @media (min-width: 991px) {
            footer .grid .col:last-of-type .socials > div:first-of-type {
              margin-left: 0; } }
          footer .grid .col:last-of-type .socials > div > a {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0; }
          footer .grid .col:last-of-type .socials > div img {
            height: 20px; }
      footer .grid .col:last-of-type .downloads {
        text-align: center; }
        @media (min-width: 991px) {
          footer .grid .col:last-of-type .downloads {
            text-align: initial; } }
        footer .grid .col:last-of-type .downloads a {
          display: inline; }
        footer .grid .col:last-of-type .downloads img {
          width: 140px;
          margin-bottom: 5px; }
    footer .grid .col p {
      font-size: 13px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #5e6282; }
    footer .grid .col h3 {
      font-size: 21px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin-top: 0; }
    footer .grid .col h4 {
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #5e6282;
      text-align: center;
      margin-bottom: 15px; }
      @media (min-width: 991px) {
        footer .grid .col h4 {
          text-align: initial; } }
    footer .grid .col a {
      display: block;
      margin-top: 5px;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 500; }

footer .copyrights {
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5e6282;
  padding: 15px 0; }
