@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,600&family=Volkhov:wght@700&display=swap");
.test {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Volkhov", serif; }

html {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  padding-top: 108px; }
  body * {
    box-sizing: border-box; }

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 50px; } }

a {
  text-decoration: none; }

.text-center {
  text-align: center; }

.extraHugeTitle {
  font-size: 40px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  color: #181e4b; }

.hugeTitle {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #253776; }

.largeTitle {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #14183e; }

.sectionTitle {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5e6282; }

img {
  max-width: 100%; }

.decore-img {
  position: absolute;
  top: -245px;
  left: 64%;
  z-index: 7;
  display: none; }
  .decore-img.active {
    display: block; }

.purple {
  color: #f215b6; }

.green {
  color: #a6e51c; }

.orange {
  color: #ff7c16; }

@-webkit-keyframes bannerImgFromLeft {
  0% {
    left: -100px; }
  100% {
    left: -50px; } }

@-webkit-keyframes bannerImgFromRight {
  0% {
    left: -50px; }
  100% {
    left: -100px; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotate {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.2s ease-in-out; }
  nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    min-height: 88px; }
    nav .nav-container .logo {
      width: 30%;
      position: relative;
      z-index: 101; }
      @media (min-width: 650px) {
        nav .nav-container .logo {
          width: 16%; } }
      nav .nav-container .logo img {
        width: 100%; }
        @media (min-width: 650px) {
          nav .nav-container .logo img {
            height: 72px; } }
    nav .nav-container .right-side {
      display: flex;
      align-items: center;
      transition: all 0.4s ease-in-out;
      position: fixed;
      top: -250px;
      left: 0;
      width: 100%;
      height: 0;
      background: #f8f9fa;
      flex-direction: column;
      justify-content: center;
      z-index: 100; }
      nav .nav-container .right-side.in {
        top: 0;
        height: 100vh; }
      @media (min-width: 991px) {
        nav .nav-container .right-side {
          width: 70%;
          position: static;
          flex-direction: row;
          background-color: transparent; }
          nav .nav-container .right-side.in {
            height: auto; } }
      nav .nav-container .right-side .links {
        width: 100%; }
        nav .nav-container .right-side .links ul {
          display: block;
          width: 100%;
          padding: 0;
          margin: 0;
          list-style: none; }
          @media (min-width: 991px) {
            nav .nav-container .right-side .links ul {
              display: flex;
              justify-content: space-between;
              position: relative;
              z-index: 2; } }
          nav .nav-container .right-side .links ul li {
            width: 100%;
            margin: 20px 0;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #212832;
            padding: 5px 0; }
            @media (min-width: 991px) {
              nav .nav-container .right-side .links ul li {
                flex: 1; } }
            nav .nav-container .right-side .links ul li a {
              color: inherit; }
            nav .nav-container .right-side .links ul li.sign-in {
              border: 1px solid #212832;
              border-radius: 5px;
              padding: 0; }
              nav .nav-container .right-side .links ul li.sign-in a {
                width: 100%;
                height: 100%;
                display: block;
                padding: 5px 0; }
            nav .nav-container .right-side .links ul li.lang {
              overflow: hidden;
              position: relative; }
              nav .nav-container .right-side .links ul li.lang span {
                display: none;
                opacity: 0;
                cursor: pointer;
                transition: all 0.4s ease-in-out; }
                nav .nav-container .right-side .links ul li.lang span.active {
                  opacity: 1;
                  display: inline-block; }
    nav .nav-container .toggle {
      width: 10%;
      cursor: pointer;
      position: relative;
      z-index: 100;
      display: block;
      text-align: center; }
      @media (min-width: 991px) {
        nav .nav-container .toggle {
          display: none; } }
      nav .nav-container .toggle img {
        width: 35px; }

main .container {
  position: relative;
  z-index: 8; }

main .main-container {
  position: relative;
  z-index: 2;
  display: none; }
  main .main-container.active {
    display: flex;
    align-items: end; }
  main .main-container .main-content {
    max-width: 630px;
    padding-bottom: 120px; }
    @media (min-width: 991px) {
      main .main-container .main-content {
        width: 630px; } }
    main .main-container .main-content h3 {
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 700; }
    main .main-container .main-content .extraHugeTitle {
      position: relative;
      margin-bottom: 30px; }
      @media (min-width: 600px) {
        main .main-container .main-content .extraHugeTitle {
          font-size: 54px; } }
      @media (min-width: 1206px) {
        main .main-container .main-content .extraHugeTitle {
          font-size: 65px; } }
      @media (min-width: 1376px) {
        main .main-container .main-content .extraHugeTitle {
          font-size: 75px; } }
      main .main-container .main-content .extraHugeTitle::before {
        content: "";
        position: absolute;
        right: 0;
        top: 35px;
        width: 300px;
        height: 12px;
        z-index: -1; }
        @media (min-width: 660px) {
          main .main-container .main-content .extraHugeTitle::before {
            right: 140px; } }
        @media (min-width: 991px) {
          main .main-container .main-content .extraHugeTitle::before {
            right: 35px; } }
      main .main-container .main-content .extraHugeTitle.purple-line::before {
        background-image: url("../imgs/banner/purpleLine.png"); }
      main .main-container .main-content .extraHugeTitle.green-line::before {
        background-image: url("../imgs/banner/greenLine.png"); }
      main .main-container .main-content .extraHugeTitle.orange-line::before {
        background-image: url("../imgs/banner/orangeLine.png"); }
    main .main-container .main-content p {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #5e6282;
      margin-bottom: 40px;
      max-width: 480px;
      min-height: 75px; }
    main .main-container .main-content .btns {
      display: flex;
      flex-wrap: wrap; }
      main .main-container .main-content .btns .findOut {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        font-family: "Open Sans", sans-serif;
        background-color: #ff7c16;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        transition: all 0.4s ease-in-out;
        padding: 15px 25px;
        margin-right: 30px;
        margin-bottom: 20px; }
        main .main-container .main-content .btns .findOut:hover {
          background-color: #ff7c16a8; }
        @media (min-width: 402px) {
          main .main-container .main-content .btns .findOut {
            margin-bottom: 0; } }
      main .main-container .main-content .btns .playDemo {
        background: transparent;
        border: none;
        line-height: 52px;
        font-size: 17px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #686d77;
        cursor: pointer; }
        main .main-container .main-content .btns .playDemo .video-btn {
          background: #e72228;
          height: 52px;
          width: 52px;
          border-radius: 100px;
          display: inline-block;
          margin-right: 10px; }
  main .main-container .main-traveler {
    position: relative;
    -webkit-animation: bannerImgFromLeft 0.8s forwards;
    animation: bannerImgFromLeft 0.8s forwards;
    display: none; }
    @media (min-width: 991px) {
      main .main-container .main-traveler {
        display: block; } }
    main .main-container .main-traveler.last {
      -webkit-animation: bannerImgFromRight 0.8s forwards;
      animation: bannerImgFromRight 0.8s forwards; }
    main .main-container .main-traveler img {
      display: block; }

main .carousel-indicators {
  position: absolute;
  bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 375px) {
    main .carousel-indicators {
      width: 350px; } }
  main .carousel-indicators:before {
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../imgs/banner/dotsLine.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1; }
  main .carousel-indicators button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out; }
    main .carousel-indicators button#purple {
      background-color: #f215b6; }
    main .carousel-indicators button#green {
      background-color: #a6e51c; }
    main .carousel-indicators button#orange {
      background-color: #ff7c16; }
    main .carousel-indicators button.active {
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15); }

.services {
  background-image: url("../imgs/services/serviceBg.png");
  background-size: contain;
  padding: 60px 0; }
  .services .container {
    position: relative; }
  .services .thingsWeDo {
    position: absolute;
    left: -122px;
    top: -70px;
    z-index: 2; }
  .services .service-content {
    position: relative;
    z-index: 4;
    padding: 50px 0; }
    @media (min-width: 1350px) {
      .services .service-content {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start; } }
    .services .service-content .service-content_txt {
      max-width: 600px;
      margin: 0 auto; }
      @media (min-width: 1350px) {
        .services .service-content .service-content_txt {
          width: 45%;
          position: relative;
          padding-bottom: 80px; } }
      .services .service-content .service-content_txt .purple-overlay {
        position: absolute;
        right: -60px;
        top: 0;
        width: calc(100% + 317px);
        height: 100%;
        background: #f215b6;
        opacity: 0; }
        @media (min-width: 1350px) {
          .services .service-content .service-content_txt .purple-overlay {
            opacity: 1; } }
      .services .service-content .service-content_txt h2 {
        color: #253776;
        font-size: 35px;
        text-align: center;
        position: relative; }
        @media (min-width: 400px) {
          .services .service-content .service-content_txt h2 {
            font-size: 55px; } }
        @media (min-width: 1350px) {
          .services .service-content .service-content_txt h2 {
            text-align: right; } }
      .services .service-content .service-content_txt p {
        position: relative;
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #5e6282;
        text-align: center; }
        @media (min-width: 1350px) {
          .services .service-content .service-content_txt p {
            text-align: right;
            color: #fff;
            padding-left: 15px; } }
    .services .service-content .service-content_items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      @media (min-width: 1350px) {
        .services .service-content .service-content_items {
          margin-top: -160px;
          width: 60%;
          flex-direction: row-reverse;
          flex-wrap: initial; } }
      .services .service-content .service-content_items .service-item.first h5 {
        bottom: 20%; }
      .services .service-content .service-content_items .service-item.first a {
        bottom: 20px; }
      .services .service-content .service-content_items .service-item {
        text-align: center;
        position: relative;
        margin: 0 10px 30px;
        width: 250px;
        height: 250px; }
        @media (min-width: 991px) {
          .services .service-content .service-content_items .service-item {
            margin: 0; }
            .services .service-content .service-content_items .service-item.moveTop {
              margin-top: -6px; } }
        .services .service-content .service-content_items .service-item > img {
          width: 250px;
          height: 250px; }
        .services .service-content .service-content_items .service-item h5 {
          position: absolute;
          bottom: 25%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 25px;
          font-family: "Poppins", sans-serif;
          font-weight: 800;
          color: #fff;
          margin: 0;
          width: 100%;
          z-index: 3; }
        .services .service-content .service-content_items .service-item a {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: #fff;
          z-index: 3;
          transition: all 0.4s ease-in-out;
          opacity: 0;
          width: 100%; }
          .services .service-content .service-content_items .service-item a img {
            margin-right: 10px; }
        .services .service-content .service-content_items .service-item .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: #5d7faa;
          background: linear-gradient(250deg, #5d7faa8c 0%, #1b4896 100%);
          transition: all 0.4s ease-in-out;
          opacity: 0; }
        .services .service-content .service-content_items .service-item:hover a,
        .services .service-content .service-content_items .service-item:hover .overlay {
          opacity: 1; }
      @media (min-width: 1350px) {
        .services .service-content .service-content_items .service-item.last {
          margin-top: 250px; } }
      @media (min-width: 1350px) {
        .services .service-content .service-content_items .margin-top {
          margin-top: 250px; } }

.top-news {
  margin-bottom: 80px; }
  .top-news .container {
    position: relative;
    overflow-x: hidden; }
  .top-news .circle {
    opacity: 0;
    position: absolute;
    top: 40px;
    right: -138px;
    z-index: 1; }
    @media (min-width: 880px) {
      .top-news .circle {
        opacity: 1; } }
  .top-news .largeTitle {
    margin-top: 0; }
  .top-news .category-wrapper {
    position: relative;
    z-index: 2;
    text-align: center; }
    .top-news .category-wrapper [type="radio"] {
      display: none; }
    .top-news .category-wrapper label {
      padding: 10px 20px;
      border-radius: 10px;
      background: #e3e3e3;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      color: #0f526e;
      min-width: 90px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif; }
      .top-news .category-wrapper label:last-of-type {
        margin-right: 0; }
    .top-news .category-wrapper [type="radio"]:checked + label {
      background: #13beff;
      color: #fff; }
    .top-news .category-wrapper [type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.technology),
    .top-news .category-wrapper [type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.sport),
    .top-news .category-wrapper [type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.health),
    .top-news .category-wrapper [type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.economics) {
      display: none; }
    .top-news .category-wrapper .gallery {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 100%);
      grid-auto-rows: 1fr;
      grid-gap: 3rem;
      margin-top: 40px; }
      @media (min-width: 400px) {
        .top-news .category-wrapper .gallery {
          grid-template-columns: repeat(auto-fit, 365px); } }
      .top-news .category-wrapper .gallery .card {
        margin: 0;
        border-radius: 30px;
        -webkit-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -moz-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -o-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc; }
        .top-news .category-wrapper .gallery .card .card-image {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px; }
        .top-news .category-wrapper .gallery .card .card-desc {
          padding: 20px;
          text-align: initial; }
          .top-news .category-wrapper .gallery .card .card-desc .sectionTitle {
            margin-top: 0;
            height: auto; }
            @media (min-width: 400px) {
              .top-news .category-wrapper .gallery .card .card-desc .sectionTitle {
                height: 80px; } }
          .top-news .category-wrapper .gallery .card .card-desc .date-wrapper img {
            float: left;
            margin-right: 10px;
            width: 19px;
            height: 21px; }
          .top-news .category-wrapper .gallery .card .card-desc .date-wrapper .date {
            color: #707070;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            font-weight: 400; }
          .top-news .category-wrapper .gallery .card .card-desc .card-footer {
            display: flex;
            justify-content: space-between; }
            .top-news .category-wrapper .gallery .card .card-desc .card-footer .card-type {
              color: #5e6282;
              font-size: 16px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              background: #e3e3e3;
              padding: 1px 2px;
              border-radius: 100px;
              width: 117px;
              text-align: center; }
            .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs {
              position: relative; }
              .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs img {
                width: 17px;
                height: 19px;
                cursor: pointer;
                margin: 0 5px; }
              .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup {
                position: absolute;
                top: 10px;
                right: 0px;
                border-radius: 5px;
                opacity: 0;
                z-index: -1;
                width: 185px;
                height: 45px;
                transition: all 0.4s ease-in-out;
                display: flex;
                border-radius: 5px;
                overflow: hidden; }
                .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup.show {
                  opacity: 1;
                  z-index: 2;
                  top: 25px; }
                .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a {
                  width: calc(100% / 3);
                  height: 100%;
                  line-height: 62px;
                  display: inline-block;
                  text-align: center;
                  transition: all 0.4s ease-in-out; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a:hover {
                    opacity: 0.8; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.fb-link {
                    background-color: #3b5998; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.fb-link img {
                      width: 15px;
                      height: 24px; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.tw-link {
                    background-color: #00b9ff; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.tw-link img {
                      width: 25px;
                      height: 25px; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.gm-link {
                    line-height: 55px;
                    background-color: #ff6666; }
                    .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a.gm-link img {
                      width: 26px;
                      height: 21px; }
                  .top-news .category-wrapper .gallery .card .card-desc .card-footer .react-imgs .share-popup a img {
                    height: auto;
                    margin: 0; }
    .top-news .category-wrapper .view-more {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      background-color: #ff7c16;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      transition: all 0.4s ease-in-out;
      margin-top: 40px;
      padding: 18px;
      width: 260px; }
      .top-news .category-wrapper .view-more:hover {
        background-color: #ff7c16a8; }

footer .container {
  position: relative;
  overflow: hidden; }

footer .grid {
  overflow: hidden; }
  @media (min-width: 991px) {
    footer .grid {
      display: flex; } }
  footer .grid .col {
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
    @media (min-width: 600px) {
      footer .grid .col {
        float: left; }
        footer .grid .col.sm-col {
          width: 33.33%; } }
    @media (min-width: 991px) {
      footer .grid .col {
        text-align: inherit;
        margin-right: 50px; }
        footer .grid .col.sm-col {
          width: auto; } }
    @media (min-width: 1100px) {
      footer .grid .col {
        margin-right: 80px; } }
    footer .grid .col .logo img {
      width: 190px;
      height: 72px; }
    footer .grid .col:last-of-type {
      margin-bottom: 0; }
      @media (min-width: 991px) {
        footer .grid .col:last-of-type {
          margin-right: 0; } }
      footer .grid .col:last-of-type .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px; }
        @media (min-width: 991px) {
          footer .grid .col:last-of-type .socials {
            justify-content: initial; } }
        footer .grid .col:last-of-type .socials > div {
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 60px;
          margin: 0 15px;
          border-radius: 100px;
          -webkit-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          -moz-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          -o-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
          box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc; }
          @media (min-width: 991px) {
            footer .grid .col:last-of-type .socials > div:first-of-type {
              margin-left: 0; } }
          footer .grid .col:last-of-type .socials > div > a {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0; }
          footer .grid .col:last-of-type .socials > div img {
            height: 20px; }
          footer .grid .col:last-of-type .socials > div:nth-of-type(1) img {
            width: 10px; }
          footer .grid .col:last-of-type .socials > div:nth-of-type(2) img {
            width: 20px; }
          footer .grid .col:last-of-type .socials > div:nth-of-type(3) img {
            width: 25px; }
      footer .grid .col:last-of-type .downloads {
        text-align: center; }
        @media (min-width: 991px) {
          footer .grid .col:last-of-type .downloads {
            text-align: initial; } }
        footer .grid .col:last-of-type .downloads a {
          display: inline; }
        footer .grid .col:last-of-type .downloads img {
          width: 140px;
          margin-bottom: 5px; }
          footer .grid .col:last-of-type .downloads img.googlePlay {
            height: 46px; }
          footer .grid .col:last-of-type .downloads img.appleStore {
            height: 49px; }
    footer .grid .col p {
      font-size: 13px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #5e6282; }
    footer .grid .col h3 {
      font-size: 21px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin-top: 0; }
    footer .grid .col h4 {
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: #5e6282;
      text-align: center;
      margin-bottom: 15px; }
      @media (min-width: 991px) {
        footer .grid .col h4 {
          text-align: initial; } }
    footer .grid .col a {
      display: block;
      margin-top: 5px;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 500; }

footer .copyrights {
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5e6282;
  padding: 15px 0; }

footer .bottom-layer {
  position: absolute;
  right: -185px;
  bottom: -75px;
  z-index: -1; }
