// import fonts
@import "./fonts";
// import variables
@import "./variables";
// import core
@import "./core";
// import animations
@import "./animations";

// Navbar
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.2s ease-in-out;
  // background: #fff;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    min-height: 88px;
    .logo {
      width: 30%;
      position: relative;
      z-index: 101;
      @media (min-width: 650px) {
        width: 16%;
      }
      img {
        width: 100%;
        height: auto;
        @media (min-width: 650px) {
          width: 190px;
          height: 72px;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      transition: all 0.4s ease-in-out;
      position: fixed;
      top: -250px;
      left: 0;
      width: 100%;
      height: 0;
      background: #f8f9fa;
      flex-direction: column;
      justify-content: center;
      z-index: 100;
      &.in {
        top: 0;
        height: 100vh;
      }
      @media (min-width: 991px) {
        width: 70%;
        position: static;
        flex-direction: row;
        background-color: transparent;
        &.in {
          height: auto;
        }
      }
      .links {
        width: 100%;
        ul {
          display: block;
          width: 100%;
          padding: 0;
          margin: 0;
          list-style: none;
          @media (min-width: 991px) {
            display: flex;
            justify-content: space-between;
            position: relative;
            z-index: 2;
          }
          li {
            width: 100%;
            margin: 20px 0;
            text-align: center;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #212832;
            padding: 5px 0;
            @media (min-width: 991px) {
              flex: 1;
            }
            a {
              color: inherit;
            }
            &.sign-in {
              border: 1px solid #212832;
              border-radius: 5px;
              padding: 0;
              width: 80%;
              margin: auto;
              a {
                width: 100%;
                height: 100%;
                display: block;
                padding: 5px 0;
              }
            }
            &.lang {
              overflow: hidden;
              position: relative;
              span {
                display: none;
                opacity: 0;
                cursor: pointer;
                transition: all 0.4s ease-in-out;
                &.active {
                  opacity: 1;
                  display: inline-block;
                }
                img {
                  width: 10px;
                  height: 6px;
                }
              }
            }
          }
        }
      }
    }
    .toggle {
      width: 10%;
      cursor: pointer;
      position: relative;
      z-index: 100;
      display: block;
      text-align: center;
      @media (min-width: 991px) {
        display: none;
      }
      img {
        width: 35px;
        height: 38px;
      }
    }
  }
}
// Main
main {
  // overflow-x: hidden;
  .container {
    position: relative;
    z-index: 8;
  }
  .main-container {
    position: relative;
    z-index: 2;
    // min-height: 700px;
    display: none;
    &.active {
      display: flex;
      align-items: end;
      // margin-bottom: 40px;
    }
    .main-content {
      max-width: 630px;
      padding-bottom: 120px;
      @media (min-width: 991px) {
        width: 630px;
      }
      h3 {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
      .extraHugeTitle {
        position: relative;
        margin-bottom: 30px;
        @media (min-width: 600px) {
          font-size: 54px;
        }
        @media (min-width: 1206px) {
          font-size: 65px;
        }
        @media (min-width: 1376px) {
          font-size: 75px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 22px;
          right: 0;
          width: 300px;
          height: 12px;
          z-index: -1;
          @media (min-width: 600px) {
            top: 30px;
          }
          @media (min-width: 660px) {
            // right: 140px;
          }
          @media (min-width: 1206px) {
            top: 45px;
            right: 35px;
          }
        }
        &.purple-line {
          &::before {
            background-image: url("../imgs/banner/purpleLine.png");
          }
        }
        &.green-line {
          &::before {
            background-image: url("../imgs/banner/greenLine.png");
          }
        }
        &.orange-line {
          &::before {
            background-image: url("../imgs/banner/orangeLine.png");
          }
        }
      }
      p {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #5e6282;
        margin-bottom: 40px;
        max-width: 480px;
        min-height: 75px;
      }
      .btns {
        display: flex;
        flex-wrap: wrap;
        .findOut {
          @include orangeBtn;
          padding: 15px 25px;
          margin-right: 30px;
          margin-bottom: 20px;
          @media (min-width: 402px) {
            margin-bottom: 0;
          }
        }
        .playDemo {
          background: transparent;
          border: none;
          line-height: 52px;
          font-size: 17px;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          color: #686d77;
          cursor: pointer;
          .video-btn {
            background: #e72228;
            height: 52px;
            width: 52px;
            border-radius: 100px;
            display: inline-block;
            margin-right: 10px;
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
    .main-traveler {
      position: relative;
      -webkit-animation: bannerImgFromLeft 0.8s forwards;
      animation: bannerImgFromLeft 0.8s forwards;
      display: none;
      @media (min-width: 991px) {
        display: block;
      }
      &.last {
        -webkit-animation: bannerImgFromRight 0.8s forwards;
        animation: bannerImgFromRight 0.8s forwards;
      }
      img {
        display: block;
      }
    }
  }
  .carousel-indicators {
    position: absolute;
    bottom: 40px;
    // left: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    @media (min-width: 375px) {
      width: 350px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 6px;
      background-image: url("../imgs/banner/dotsLine.png");
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: -1;
    }
    span {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      border: 2px solid #fff;
      transition: all 0.3s ease-in-out;
      &#purple {
        background-color: $purple;
      }
      &#green {
        background-color: $green;
      }
      &#orange {
        background-color: $orange;
      }
      &.active {
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
      }
    }
  }
}
// services
.services {
  background-image: url("../imgs/services/serviceBg.png");
  background-size: contain;
  padding: 60px 0;
  .container {
    position: relative;
  }
  .thingsWeDo {
    position: absolute;
    left: -122px;
    top: -70px;
    z-index: 2;
  }
  .service-content {
    position: relative;
    z-index: 4;
    padding: 50px 0;
    @media (min-width: 1350px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
    }
    .service-content_txt {
      max-width: 600px;
      margin: 0 auto;
      @media (min-width: 1350px) {
        width: 45%;
        position: relative;
        padding-bottom: 80px;
      }
      .purple-overlay {
        position: absolute;
        right: -60px;
        top: 0;
        width: calc(100% + 317px);
        height: 100%;
        background: $purple;
        opacity: 0;
        @media (min-width: 1350px) {
          opacity: 1;
        }
      }
      h2 {
        color: #253776;
        font-size: 35px;
        text-align: center;
        position: relative;
        @media (min-width: 400px) {
          font-size: 55px;
        }
        @media (min-width: 1350px) {
          text-align: right;
        }
      }
      p {
        position: relative;
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #5e6282;
        text-align: center;
        @media (min-width: 1350px) {
          text-align: right;
          color: #fff;
          padding-left: 15px;
        }
      }
    }
    .service-content_items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @media (min-width: 1350px) {
        margin-top: -160px;
        width: 60%;
        flex-direction: row-reverse;
        flex-wrap: initial;
      }
      .service-item.first {
        h3 {
          bottom: 20%;
        }
        a {
          bottom: 20px;
        }
      }
      .service-item {
        text-align: center;
        position: relative;
        margin: 0 10px 30px;
        width: 250px;
        height: 250px;
        @media (min-width: 991px) {
          margin: 0;
          // height: auto;
          &.moveTop {
            margin-top: -6px;
          }
        }
        > img {
          width: 250px;
          height: 250px;
        }
        h3 {
          position: absolute;
          bottom: 25%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 25px;
          font-family: "Poppins", sans-serif;
          font-weight: 800;
          color: #fff;
          margin: 0;
          width: 100%;
          z-index: 3;
        }
        a {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: #fff;
          z-index: 3;
          transition: all 0.4s ease-in-out;
          opacity: 0;
          width: 100%;
          img {
            width: 18px;
            height: 12px;
            margin-right: 10px;
          }
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          background: #5d7faa;
          background: linear-gradient(250deg, #5d7faa8c 0%, #1b4896 100%);
          transition: all 0.4s ease-in-out;
          opacity: 0;
        }
        &:hover {
          a,
          .overlay {
            opacity: 1;
          }
        }
      }
      .service-item.last {
        @media (min-width: 1350px) {
          margin-top: 250px;
        }
      }
      .margin-top {
        @media (min-width: 1350px) {
          margin-top: 250px;
        }
      }
    }
  }
}
// top-news
.top-news {
  margin-bottom: 80px;
  .container {
    position: relative;
    overflow-x: hidden;
  }
  .circle {
    opacity: 0;
    position: absolute;
    top: 40px;
    right: -138px;
    z-index: 1;
    @media (min-width: 880px) {
      opacity: 1;
    }
  }
  .largeTitle {
    margin-top: 0;
  }
  .category-wrapper {
    position: relative;
    z-index: 2;
    text-align: center;
    [type="radio"] {
      display: none;
    }
    label {
      padding: 10px 20px;
      border-radius: 10px;
      background: #e3e3e3;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      color: #0f526e;
      min-width: 90px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      &:last-of-type {
        margin-right: 0;
      }
    }
    [type="radio"]:checked + label {
      background: #13beff;
      color: #000;
    }
    [type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.technology),
    [type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.sport),
    [type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.health),
    [type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.economics) {
      display: none;
    }
    .gallery {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 100%);
      grid-auto-rows: 1fr;
      grid-gap: 3rem;
      margin-top: 40px;
      @media (min-width: 400px) {
        grid-template-columns: repeat(auto-fit, 365px);
      }
      .card {
        margin: 0;
        border-radius: 30px;
        // overflow: hidden;
        -webkit-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -moz-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        -o-box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        box-shadow: 5px 5px 9px #ccc, -5px 4px 9px #ccc;
        .card-image {
          width: 100%;
          height: 350px;
          object-fit: cover;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
        }
        .card-desc {
          padding: 20px;
          text-align: initial;
          .sectionTitle {
            margin-top: 0;
            height: auto;
            @media (min-width: 400px) {
              height: 80px;
            }
          }
          .date-wrapper {
            img {
              float: left;
              margin-right: 10px;
              width: 19px;
              height: 21px;
            }
            .date {
              color: #707070;
              font-size: 16px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
            }
          }
          .card-footer {
            display: flex;
            justify-content: space-between;
            .card-type {
              color: #5e6282;
              font-size: 16px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
              background: #e3e3e3;
              padding: 1px 2px;
              border-radius: 100px;
              width: 117px;
              text-align: center;
            }
            .react-imgs {
              position: relative;
              img {
                width: 17px;
                height: 19px;
                cursor: pointer;
                margin: 0 5px;
              }
              .share-popup {
                position: absolute;
                top: 10px;
                right: 0px;
                border-radius: 5px;
                opacity: 0;
                z-index: -1;
                width: 185px;
                height: 45px;
                transition: all 0.4s ease-in-out;
                display: flex;
                border-radius: 5px;
                overflow: hidden;
                &.show {
                  opacity: 1;
                  z-index: 2;
                  top: 25px;
                }
                a {
                  width: calc(100% / 3);
                  height: 100%;
                  line-height: 62px;
                  display: inline-block;
                  text-align: center;
                  transition: all 0.4s ease-in-out;
                  &:hover {
                    opacity: 0.8;
                  }
                  &.fb-link {
                    background-color: #3b5998;
                    img {
                      width: 15px;
                      height: 24px;
                    }
                  }
                  &.tw-link {
                    background-color: #00b9ff;
                    img {
                      width: 25px;
                      height: 25px;
                    }
                  }
                  &.gm-link {
                    line-height: 55px;
                    background-color: #ff6666;
                    img {
                      width: 26px;
                      height: 21px;
                    }
                  }
                  img {
                    height: auto;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .view-more {
      @include orangeBtn;
      margin-top: 40px;
      padding: 18px;
      width: 260px;
    }
  }
}
//footer
footer {
  .container {
    position: relative;
    overflow: hidden;
  }
  .grid {
    overflow: hidden;
    @media (min-width: 991px) {
      display: flex;
    }
    .col {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      @media (min-width: 600px) {
        float: left;
        &.sm-col {
          width: 33.33%;
        }
      }
      @media (min-width: 991px) {
        text-align: inherit;
        margin-right: 50px;
        &.sm-col {
          width: auto;
        }
      }
      @media (min-width: 1100px) {
        margin-right: 80px;
      }
      .logo {
        img {
          width: 190px;
          height: 72px;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
        @media (min-width: 991px) {
          margin-right: 0;
        }
        .socials {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 5px;
          @media (min-width: 991px) {
            justify-content: initial;
          }
          > div {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 60px;
            margin: 0 15px;
            border-radius: 100px;
            -webkit-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
            -moz-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
            -o-box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
            box-shadow: 1px 1px 7px #ccc, -1px -1px 7px #ccc;
            @media (min-width: 991px) {
              &:first-of-type {
                margin-left: 0;
              }
            }
            > a {
              width: 100%;
              height: 100%;
              display: block;
              margin: 0;
            }
            img {
              height: 20px;
            }
            &:nth-of-type(1) {
              img {
                width: 10px;
              }
            }
            &:nth-of-type(2) {
              img {
                width: 20px;
              }
            }
            &:nth-of-type(3) {
              img {
                width: 25px;
              }
            }
          }
        }
        .downloads {
          text-align: center;
          @media (min-width: 991px) {
            text-align: initial;
          }
          a {
            display: inline;
          }
          img {
            width: 140px;
            margin-bottom: 5px;
            &.googlePlay {
              height: 46px;
            }
            &.appleStore {
              height: 49px;
            }
          }
        }
      }
      p {
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #5e6282;
      }
      h3 {
        font-size: 21px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        margin-top: 0;
      }
      h4 {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #5e6282;
        text-align: center;
        margin-bottom: 15px;
        @media (min-width: 991px) {
          text-align: initial;
        }
      }
      a {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #5e6282;
        // width: fit-content;
      }
    }
  }
  .copyrights {
    text-align: center;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #5e6282;
    padding: 15px 0;
  }
  .bottom-layer {
    position: absolute;
    right: -185px;
    bottom: -75px;
    z-index: -1;
  }
}
